h1{
	font-size: 3em;
    font-weight: 300;
    color: black;
    margin-bottom: .2em;
    margin-top: .1em;
    font-family: 'Bookman Old Style', serif;
}
.Espacio{
	margin-top: 20px;
}
.EspacioLeft{
	margin-left: 10px;
}



.card:hover{
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.8);

}
.container{
	max-width: 95em;
}